
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Garaje JAVICAR</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />

    <script src="/js/demo.js"></script>
    <script src="/js/scripts.js"></script>



</head>

<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/">Garaje JAVICAR</a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item">
                        <p class="nav-link" id="horas"></p>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link" id="fecha"></p>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link">Coches en garaje: <span id="cochesTotales">0</span> coches</p>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="tabla">
        <form action="/post/{{id}}/conductores/{{conductor.index}}/save" method="post">
            <p>Nombre: </p>
            <input type='text' name='Nombre' id="Nombre" value="{{{conductor.Nombre}}}" />
            <p>Telefono:</p>
            <input type='text' name='Telefono' id="Telefono" value="{{{conductor.Telefono}}}"  />
            <p>Codigo Postal:</p>
            <input type='text' name='Codigo_Postal' id="Codigo_Postal" value="{{{conductor.Codigo_Postal}}}"  />
            
            <br>
            <br>
            <input type='submit' class="button-27" value='Guardar' />
        </form>
        <br>
        <input type="button" onclick="window.location.href='/';" class="button-27" value="Atrás">

    </div>



    <script src="/js/numCoches.js"></script>

</body>

</html>