html { background-color: rgb(84, 156, 204); } 

body{
	font-family: "Comic Sans MS";
	font-size: 14px;
	margin: auto;
    margin: 0 auto;
}

.cuerpo00{
    width:100%;
    border-color: #000000;
    border-bottom-left-radius: 20px;
    color: #000000;
    display: table-cell;
    float: left;
    margin-left: auto;
    border: 1px solid;
    height: 10vh;
    
}

.cuerpo0{
    background:rgba(182, 216, 231, 0.49);
    width:80%;
    font-size: 70px;
    border-color: #000000;
    border-bottom-left-radius: 20px;
    color: #000000;
    display: table-cell;
    float: left;
    margin-left: auto;
    height: 10vh;
    
}

.cuerpo3{
    background-color: rgba(182, 216, 231, 0.49);
    width: 20%;
    height: 10vh;
    margin: auto;
    display: flex;
}

.titulo{
    width:100%;
    margin-left: 30px;
    
}

.texto {
    font-family:verdana;
    color:white;
    text-align: center;
    text-shadow: 1px  0px 0px black,
                   0px  1px 0px black,
                  -1px  0px 0px black,
                   0px -1px 0px black;
    }

.cuerpo2{
    width: 100%;
    margin: auto;
    float: left;
    overflow: auto;

}

.cuerpoCentral{
    width: 100%;
    margin: auto;
}

.info{
    background-color: rgb(28, 54, 71);
    width: 100%;
    color: rgb(255, 255, 255);
}
form{
    background-color: #f5f5f5;
    margin: 0 auto;
    width: calc(100% - 20px);
}
legend{
	font-size: 20px;
	font-weight: bold;
}

.botonesPanel{
    width: 100%;
    margin: auto;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.botonIMG {
    border: 1px solid;
    border-radius: 10px;
    height: 250px;
    width: 350px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 20px;

}
.botonesEsp{
    width: 100%;
    margin: auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}



.botonesEsp button{
    background: rgb(52, 98, 129);
    color: rgb(250, 250, 250);
    width: 80%;
    height:80px;
    vertical-align: center;
}

button{
    border: 1px solid rgba(0, 0, 0, 0.49);
    border-radius: 0;
    display: block;
    font-weight: bold;
    margin: 20px 10px;
    padding: 8px 0;
    width: calc(100% - 20px);
}


#errores{
	background-color: red;
	color: white;
	font-weight: bold;
	text-align: center;
}

#mensajes,#textoResultado{
    background-color: rgba(0,255,0,.5);
    color: black;
    font-weight: bold;
    text-align: center;
}
input[type="text"], input[type="date"], input[type="number"], input[type="range"], select {
    float: right;
    width: 50%;
}
input[type="radio"]:first-of-type{
    margin-left:50px;
}

.fechaHora{
    width: 100%;
    display:block;
}
.fecha, .hora, .garaje{
    margin-top: 10px;
    display:flex;
    align-items: center;
    flex-direction: column;
    height:20px;
}

